<div class="row">
  
  <div class="col-xs-12 col-md-12">
    <strong>
    <div class="row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <h2 class="font_style text-center font_color_profiles">About Me</h2>
        <br>
      </div>
    </div>

    <div class="row"> 
      <div class="col-xs-2 col-md-2 col-xs-offset-1 col-md-offset-1">
        <img src="/assets/DeepaProfile7.jpg" class="img-circle img_profile_picture">
      </div>

      <div class="col-xs-8 col-md-8"> 
       
        <span class="font_style font_size font_color_profiles info_display">

        Hi! I'm Deepa Kackar, a QA Engineer (Networking) + Full-Stack developer from San Jose, California.
        
        <br><br>

 
        I'm passionate about applying my knowledge and experience towards building quality products and sharing knowledge-base. I'm excited about changes that motivate me to learn and grow.
        
        <br><br>
 
        I love crime and psychological thrillers as well as sci-fi and fantasy movies. Some favorires - "The Usual Suspects", "Pulp Fiction", "Secret Life of Walter Mitty", Bourne Series, Grimm, Mentalist ... 

        <br>
        You'll find me tuning to One Republic, One Direction, Phil Collins, Journey, Pink Floyd, NPR and Ron Owens on Kbay 810....

        <br><br>
        I like understanding the human psychology, walking in San Francisco, spicy food, Brazilian cheese balls, 1/2 Marathons, children's causes as well as Girls Develop It and CodeChix meetups!

        </span>
        <br><br>
      

        <span class="font_style font_size font_color_profiles">
        <em>
         <h1>Choose a job you love, and you will never have to work a day in your life.</h1>
         ~Confucius
        </em>
        </span>
      </div>

    </div>
   </strong>
  </div>

</div>