
<div class="row">
  <div class="col-xs-12 col-md-12">
    
    <div class="row">
      <div class="col-xs-4 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <h2 class="font_style text-center font_color_profiles"> Experience</h2>
        <br>
      </div>
    </div>
    
    <div class="col-xs-9 col-md-9 col-xs-offset-2 col-md-offset-2"> 
      <ul class="font_size font_style font_color_profiles">
        <li>10 years as a L2/L3 development-test engineer @ Cisco Systems</li>
        <br>
        <li>Experienced with full feature test cycle :<br> SFS Review, Test Planning and  Manual Execution,Automation and Image Sanitization as well as Bug Reporting </li>
        <br>
        <li>Automation lead for creating OS-Agnostic automation infra
        </li>
        <br>
        <li>Lead and Owner for creating multiple feayure test scripts and library infra for multple features such as VxLAN (EVPN-BGP), VxLAN HA, Y1731, Y1731PM, 802.3ah, MIB, Mixed Units of Bandwidth, Ethernet Overhead Accounting etc
        </li>
        <br>
        <li>1D Scale testing and automation</li>
        <br>
        <li>Collaboration with multiple teams for test coverage and bug root cause</li>
        <br>
        <li>Mentored engineers at all levels for automation best practices</li>
        <hr>
        <li><h2>Skills</h2>
        Software: Ruby, Ruby on Rails, RSPEC, Sinatra, JavaScript, JQuery, Ajax, Angular.js, SQL (SQLite,Postgres)HTML5, CSS3, Python, TCL
        </li>
        <br>    
      </ul>
    </div>
  </div>   
</div>   

