<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deepa Kackar Home Page</title>

    <!-- Meta Stuff -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Our CSS -->
    <link href="styles.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Javascripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 </head>
  
<!-- One container wraps every'thing else -->
<body class = "container-fluid" id="home_page">
  
  <nav class="row navbar navbar-fixed-top">  
    <div class="col-md-11">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      </div><!--end of navbar-header--> 
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="portfolio">Portfolio</a></li> 
          <li class="active"><a href="#">Experience</a></li> 
          <li><a href="learning">Learning</a></li> 
          <li><a href="resume.html">Resume</a></li> 
        </ul>
      </div>
    </div>
   
    <div class="col-md-3">
    </div>  
  
  </nav><!--navbar-->

  <div class="row" id="other_display_page">
    <div class="col-md-1">
    </div>
    
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12 experience_display_background">
          <h1 class="font_style text-center font_color_profiles">Cisco Systems</h1><br>
          <ul class="font_size font_style font_color_profiles">
            <li>10 years as a L2/L3 development-test engineer</li>
            <li>Experienced with full feature test cycle :<br> SFS Review, Test Planning and Execution, and Automation</li>
            <li>Primary contributor for creating the automation infra for multiple features</li>
            <li>1D Scale testing and automation</li>
            <li>Collaboration with multiple teams for test coverage and bug root cause</li>
            <li>Mentored engieers at all levels for automation best practices</li><br>
            <li>Technolgies:<br>CFM, 802.3ah,L2VPN,QoS (Overhead Accounting),VxLAN,MIB,LACP,STP,BGP,OSPF
                <br>IXIA,Cisco Pagent,ATS,TCL</li>
          </ul>
        </div>
      </div>    
    </div>
    <div class="col-md-1 profile_links_sidebar">
      
      <nav class="navbar">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="profile_links_list">
            <li>
                <a href="https://www.linkedin.com/in/deepakackar">
                  <i class="fa fa-linkedin fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/dkackar">
                  <i class="fa fa-github fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/deepa.soodkackar">
                  <i class="fa fa-facebook fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/dkackar">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
            </li>
          </ul><!-- /.profile_links_list -->
        </div><!-- /.navbar-collapse -->
      </nav> <!--navbar-->
    </div> <!--profile_links-->

  </div> <!--main_display-->
  
  <div class="row" id="content_links">
    <div class="col-md-12"> 
    </div>
  </div>
</body>
</html>