<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deepa Kackar Home Page</title>

    <!-- Meta Stuff -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Our CSS -->
    <link href="/assets/styles.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Javascripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 </head>
  
<!-- One container wraps every'thing else -->
<body class = "container-fluid" id="home_page">
  
  <nav class="row navbar navbar-fixed-top">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      </div><!--end of navbar-header--> 
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="portfolio">Portfolio</a></li> 
          <li><a href="experience">Experience</a></li> 
          <li><a href="learning">Learning</a></li> 
          <li><a href="resume">Resume</a></li> 
        </ul>
      </div>
    </div>
  
  </nav><!--navbar-->

  <div class="row" id="home_display_page">
    <div class="col-md-1"></div> 
    <div class="col-md-5 about_container"> 
      <a href = "about.html">
        <img src="/assets/mirroring-711926_640.jpg"
             class="img-responsive cover-image" alt="mirroring image">
        <p class="main_profile_links text-center">
            <strong>DEEPA KACKAR</strong>
        </p>
        <p class="about_me text-center">Learn, Solve & Create</p>
      </a>
    </div><!--about_container-->
    
    <div class="col-md-5 portfolio_container">
      <a href="#portfolio_page">
        <img src="/assets/computer-933489_640.jpg"
             class="img-responsive cover-image" alt="notebook image">
        <p class="main_profile_links text-center"><strong>PORTFOLIO</strong></p>
      </a>
    </div> <!--portfolio_container-->

    <div class="col-md-1 profile_links_sidebar">
      
      <nav class="navbar">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="profile_links_list">
            <li>
                <a href="https://www.linkedin.com/in/deepakackar">
                  <i class="fa fa-linkedin fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/dkackar">
                  <i class="fa fa-github fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/deepa.soodkackar">
                  <i class="fa fa-facebook fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/dkackar">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
            </li>
          </ul><!-- /.profile_links_list -->
        </div><!-- /.navbar-collapse -->
      </nav> <!--navbar-->
    </div> <!--profile_links-->

  </div> <!--main_display-->
  
</body>
</html>