
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"> 
  
    <br><br><br><br><br><br>
<!--     <div class="about_me text-center">
       <p>Learn, Solve & Create</p> 
    </div> -->
    <br>
    <a href="about">
    <div class="main_profile_links text-center" style="height:75px;">
      <p><strong>DEEPA KACKAR</strong></p>
    </div>
    </a>    
  </div>

</div>