
<div class="row">
  <div class="col-xs-3 col-md-3"></div>

  <div class="col-xs-6 col-md-6 text-center"> 
  
    <br><br><br><br><br><br>
    <div>
    <a href="about">
      <div class="main_profile_links text-center">
          <p><strong>DEEPA KACKAR</strong></p>
      </div>
    </a>
    <div>
    <div class="about_me text-center">
       <p>Learn, Solve & Create</p> 
    </div>
  </div>

</div>

