
<div class="col-xs-12 col-md-12 col-lg-12 about_container"> 
  <br><br><br><br> 
  <a href = "about">
    <img src="/assets/sky-1232794_1280.png"
         class="img-responsive cover-image" alt="sky image">
    <p class="main_profile_links text-center">
        <strong>DEEPA KACKAR</strong>
    </p>
    <p class="about_me text-center">Learn, Solve & Create</p>
  </a>
</div>
