<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deepa Kackar Home Page</title>

    <!-- Meta Stuff -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Our CSS -->
    <link href="styles.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Javascripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 </head>
  
<!-- One container wraps every'thing else -->
<body class = "container-fluid" id="home_page">
  
  <nav class="row navbar navbar-fixed-top">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      </div><!--end of navbar-header--> 
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="portfolio">Portfolio</a></li> 
          <li><a href="experience">Experience</a></li> 
          <li class="active"><a href="#">Learning</a></li> 
          <li><a href="resume">Resume</a></li> 
        </ul>
      </div>
    </div>
  
  </nav><!--navbar-->

  <div class="row" id="other_display_page">
    
    <div class="col-md-1"></div>
    
    <div class="col-md-10 experience_1_container coming_soon_background">
      
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="font_style text-center font_color_profiles">Learning</h1>
        </div>
      </div>

      <div class="row"> 
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <p class="text-center font_style font_size font_color_profiles info_display">
            <br><br>
            Coming Very Soon!
            <br><br>
          </p>
        </div>
      </div>
    
    </div>

    <div class="col-md-1 profile_links_sidebar">
      
      <nav class="navbar">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="profile_links_list">
            <li>
                <a href="https://www.linkedin.com/in/deepakackar">
                  <i class="fa fa-linkedin fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/dkackar">
                  <i class="fa fa-github fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/deepa.soodkackar">
                  <i class="fa fa-facebook fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/dkackar">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
            </li>
          </ul><!-- /.profile_links_list -->
        </div><!-- /.navbar-collapse -->
      </nav> <!--navbar-->
    </div> <!--profile_links-

  </div> <!--main_display-->
  
  <div class="row" id="content_links">
    <div class="col-md-12"> 
    </div>
  </div>
</body>
</html>