
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="row">
      <div class="col-xs-4 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
        <h2 class="font_style text-center font_color_profiles"> Portfolio</h2>
        <br>
      </div>
    </div>

    <div class="col-xs-9 col-md-9 col-xs-offset-1 col-md-offset-1"> 
      <ul class="font_size font_style font_color_profiles">
        <li><a href="http://aqueous-savannah-67161.herokuapp.com/">
               <h2>DaneBook - Facebook like social Media App using RoR</h2>
            </a>
          <a href="https://github.com/dkackar/danebook.git">GitHub Link (@ Viking Code School using mainly RoR and some Javscript/Ajax for asynchonous calls)<br><br>
          Social media app to allow users to sign up and sign in with authentication, update profile, upload pictures, 
          create posts, comment on posts, friend and unfriend other users, like and unlike posts, view timelines and other things.
        </li>
        <hr>
        <li><a href="http://silly-level.surge.sh">
              <h2>Game 2048 - 2048 game version using JS and JQuery</h2>
            </a>
         <a href="https://github.com/dkackar/game_2048">GitHub Link (@ Viking Code School using JS/Jquery)
         </a>
         <br><br>
          My version of the addictive 2048 game!
        <br>
        </li>
        <hr>
        <li><a href="http:/reciffy.herokuapp.com">
            <h2>Reciffy - A Recipe App using RoR endpoints,Angular.js,Restangular,Xeditable</h2>
          <a href="https://github.com/dkackar/reciffy"> GitHub Link (@ Viking Code School using RoR, Angular.js)</a>
          <br>
          As a member of team of 4, created the Reciffy app to allow users to post new recipes, save recipes, fork recipes,upload recipe pictures, make profile, tag recipes, search by tags, subscribe/unsubscribe to other users, get trending, recommended recipes as well as prolific cooks.
        </li>
        <hr>
        <li><a href="http://stormy-reef-98752.herokuapp.com">
              <h2>FitHub - A Fitness Dashboard Project</h2>
            </a>
          <a href="https://github.com/dkackar/Fithub"> GitHub Link (@ Viking Code School using RoR)</a>
          <br>
          As a member of team of 5, created the Fithub dashboard app that allowed user to signup and track their daily calories for meals and exercises. User could log in activities and meal items, calories burned or ingested, set goals and check goal status.   
        </li>   
      </ul>
      </ul>
    </div>
  </div>   
</div>   

