
<div class="row about_display_background">
  <div class="col-xs-12 col-md-12">
    

    
    <div class="col-xs-9 col-md-8 col-xs-offset-1 col-md-offset-1"> 
      <ul class="font_size font_style font_color_profiles">
        <li><h2>DaneBook - A Social Networking Project</h2>
         (@ Viking Code School using RoR)<br><br>
          A social networking site that allows users to sign up, be authenticated, create/remove posts, friends/unfriend another user, comment on posts, like/unlike posts and comments and upload photos.
        <br>
        </li>
        <br>
        <hr>
        <li><h2>FitHub - A Fitness Dashboard Project</h2>
          (@ Viking Code School using RoR)<br><br>
          As a member of team of 5, created the Fithub dashboard app that allowed user to signup and track their daily calories for meals and exercises. User could log in activities and meal items, calories burned or ingested, set goals and check goal status.   
          <br>
        </li>
        <hr>
        <li><h2>Software Stories - Create Story Drafts</h2>
          (@ Viking Code School using RoR)<br><br>
          As a member of team of 3, created the Software Stories app that allowed user to signup and create a story draft based on random prompt generated.
          <br><br>
        </li>
      </ul>
      </ul>
    </div>
  </div>   
</div>   

