<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Deepa Kackar Home Page</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="assets/styles.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
 </head>
  
<!-- One container wraps every'thing else -->
<body class="container-fluid display_background img-responsive" id="home_page">

  <nav class="row navbar navbar-fixed-top">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      </div><!--end of navbar-header--> 
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="portfolio">Portfolio</a></li> 
          <li><a href="experience">Experience</a></li> 
        </ul>
      </div>
    </div>
  
  </nav><!--navbar-->

  <div class="row" id="other_display_page cover-image">
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <%= yield %>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 profile_links_sidebar">
        
      <nav class="navbar">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="profile_links_list">
            <li>
                <a href="https://www.linkedin.com/in/deepakackar">
                  <i class="fa fa-linkedin fa-lg fa-inverse"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/dkackar">
                  <i class="fa fa-github fa-lg fa-inverse"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/deepa.soodkackar">
                  <i class="fa fa-facebook fa-lg fa-inverse"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/dkackar">
                  <i class="fa fa-twitter fa-lg fa-inverse"></i>
                </a>
            </li>
            <li>
                <a href="http://deepakackar.wordpress.com">
                  <i class="fa fa-wordpress fa-lg fa-inverse"></i>
                </a>
            </li>            
          </ul><!-- /.profile_links_list -->
        </div><!-- /.navbar-collapse -->
      </nav> <!--navbar-->
      
    </div>
  </div>

</body>

<script stype="text/javascript">
  $(function() {
    var body = $('body');
    var backgrounds = ['#80002a','#990033','#862d59','#993366','#800000','#990000']
    var current = 0;

    function nextBackground() {
    body.css(
     'background-color',
      backgrounds[current = ++current % backgrounds.length]
    );

    setTimeout(nextBackground, 3000);
    }
    setTimeout(nextBackground, 3000);
    body.css('background', backgrounds[0]);

    $('.scroll').animate({ 
     right: $(document).width() 
    }, 3000); // 3000 is duration in milliseconds (ie 3 seconds)
  });

</script>

</html>